/* Profile creation form style ideas taken from Ania Kubów
    https://www.youtube.com/watch?v=Q70IMS-Qnjk
*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Roboto&display=swap');

html, body {
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: 1000;
    color: rgb(0, 0, 0);
}

* {
    font-family: "Comfortaa", sans-serif;
}

/* Home */

.home {
    margin-top: 15vh;
}

.primary-title {
    font-size: 90px;
    font-weight: 1000;
    color: rgb(0, 0, 0);

}

.primary-button {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background-color: rgb(184, 176, 70);
    padding: 10px 16px;
    border-radius: 30px;
}

.primary-button:hover {
    background-color: #fff;
    color: rgb(184, 176, 70);
}

/* Nav bar*/

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav .logo-container .logo {
    width: 100%;
    height: 100px;
    margin-left: 10px;
    margin-top: 25px;
    border-radius: 50%;
}

nav .nav-button {
    color: rgb(121, 114, 20);
    background-color: #fff;
    font-size: 22px;
    padding: 10px 18px;
    border-radius: 10px;
    margin: 12px;
}

nav .nav-button:disabled {
    background-color: rgb(59, 56, 9);
    color: rgb(14, 13, 1);
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: linear-gradient(
        to bottom,
        rgba(119, 126, 19, 0.664) 0%,
        rgba(165, 182, 9, 0) 100%
    );
}

/* Authentication form */

.auth-modal {
    position: center;
    top: 185px;
    left: 0;
    right: 0;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    height: 600px;
    background-color: #fff;
    border-radius: 12px;
    padding: 30px;
}

.auth-modal .close-button {
    float: right;
    font-size: 30px;
}

.auth-modal form {
    display: flex;
    flex-direction: column;
}

.auth-modal input[type=email],
.auth-modal input[type=password] {
    padding: 10px;
    margin: 8px;
    font-size: 20px;
}

.secondary-button {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background-color: rgb(167, 158, 33);
    padding: 10px 16px;
    border-radius: 30px;
    margin: 10px;
}

.secondary-button:hover {
    background-color: #fff;
    color: rgb(167, 158, 33);
}

/* Welcome/Profile creation form */

.welcome form {
    display: flex;
    flex-direction: column;
}

.welcome {
    margin-top: 2%;
    border-top: solid 1px rgb(0, 0, 0);
}

.welcome form label {
    font-size: 20px;
    font-weight: 800;
    color: rgb(0, 0, 0);
    text-decoration: bold;
}

.welcome h2 {
    font-size: 40px;
    font-style: bold;
}

.welcome form section {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 50%;
    margin: auto;
}

.welcome form input {
    padding: 10px 15px;
    margin: 6px;
    font-size: 20px;
    border: solid rgb(0, 0, 0);
    border-radius: 80px;
}

.welcome form .photo-container img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    scale: 0.9;
}

/* Dashboard page */

.dashboard {
    display: flex;
    justify-content: space-between;
}

.dashboard .swipe-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dashboard .card-container {
    width: 400px;
    height: 650px;
}

.swipe {
    position: absolute;
  }
  
.card {
    background-color: #fff;
    width: 400px;
    height: 650px;
    box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
    border-radius: 30px;
    background-size: cover;
    background-position: center;
}
  
.card h3 {
    position: absolute;
    bottom: 0;
    margin: 10px;
}

.dashboard .swipe-info {
    position: absolute;
    padding: 40px;
    bottom: 0;
}

/* Chat Container */

.chat-container {
    background-color: burlywood;
    width: 35%;
    text-align: left;
    z-index: 1;
    padding-left: 10px;
}

.chat-container .chat-container-header {
    background-color: burlywood;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-container .option {
    border: 1px solid black;
    padding: 8px;
    border-radius: 10%;
    margin: 2px;
    font-size: 18px;
}

.chat-container .option:disabled {
    color: grey;
}


.chat-container .logout-icon,
.chat-container .profile {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.img-container {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    overflow: hidden;
    margin: 8px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Chat */
.matches-display .match-card {
    display: flex;
    align-items: center;
    padding: 12px;
}

.matches-display .img-container{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.chat-display {
    padding: 15px;
    height: 60vh;
    overflow-y: auto;
   
}

.matches-display {
    padding: 15px;
    height: 60vh;
    overflow-y: auto;
}

.chat-input {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

